
ul.links .submenu {
  display: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
  right: -1px;
  top: 34px;
  border: 1px solid #aaa;
  background: #eee;
  min-width: 90px;
}

ul.links li.submenu-parent {
  position: relative;
}

ul.links > li.submenu-parent > a {
  background: transparent !important;
}

ul.links .submenu > li {
  float: none;
  padding-left: 4px;
}

#navigation ul.links .submenu > li a {
  float: none;
  height: auto;
  display: block;
  border: none;
  white-space: nowrap;
  /* color: #333; */
  background: transparent;
  padding: 5px 10px;
  line-height: 24px;
}

/* Use this style for very long titles to make exceptions to text wrap behavior */
#navigation ul.links .submenu > li.long a {
  white-space: normal;
  line-height: 18px;
  min-width: 150px;
}

ul.links .submenu li:hover > a,
body.uimouse li.submenu-parent:hover > a,
li.submenu-parent.open > a {
  color: #a92124 !important;
}

body.uimouse ul.links > li.submenu-parent:hover,
ul.links > li.submenu-parent.open {
  background: #eee;
}

li.submenu-parent li.submenu-parent {
  background: url(images/sprite.png) no-repeat left -774px;
}

li.submenu-parent li.submenu-parent.open,
li.submenu-parent li.submenu-parent:hover {
  background-position: left -746px;
}

body.uimouse li.submenu-parent:hover > ul.submenu,
body.uimouse li.submenu-parent:hover > div.submenu,
li.submenu-parent.open > div.submenu,
li.submenu-parent.open > ul.submenu {
  display: block;
}

#navigation ul.links .submenu .submenu {
  position: absolute;
  z-index: 1001;
  top: 0px;
  background: #5a5a5a;
  padding: 10px;
}

#navigation ul.links .submenu div.submenu {
  left: -322px;
  width: 305px;
}

#navigation ul.links .submenu ul.submenu {
  width: 180px;
  left: -197px;
}

#navigation ul.links .submenu .submenu a {
  display: block;
  margin: 0 15px 10px 0;
  padding: 0;
  color: #fff !important;
  font-size: 12px;
  font-weight: normal;
  white-space: normal;
  line-height: 18px;
  height: auto;
}

#navigation ul.links .submenu div.submenu a {
  float: left;
  width: 130px;
  cursor: pointer;
}

#navigation ul.links .submenu .submenu a:hover {
  text-decoration: underline;
  color: #fff !important;
}

#submenus {
  display: none;
}
